@import "tailwindcss";

.btn{
  @apply bg-green-200 rounded-2xl hover:cursor-pointer active:scale-75
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-border: var(--border);
  --color-success: var(--success);
  --color-warning: var(--warning);
  --color-error: var(--error);
}

:root {
  --background: oklch(96.7% 0.003 264.542);
  --foreground: oklch(44.6% 0.03 256.802);
  --primary: oklch(45.7% 0.24 277.023);
  --primary-foreground: oklch(96.2% 0.018 272.314);
  --border: oklch(93% 0.034 272.788);
  --success: oklch(69.6% 0.17 162.48);
  --warning: oklch(76.9% 0.188 70.08);
  --error: oklch(63.7% 0.237 25.331);
}

body {
  font-family: var(--font-geist-mono), monospace;
  background-color: rgb(240, 240, 240);
}
